body {
  height: 292vh;
}

main div {
  height: 90vh;
}

.presentation::before {
  content: "";
  position: absolute;
  top: -11vh;
  left: 0;
  right: 0;
  height: 101vh;
  background: url(../img/creatis/office1.png) top center / cover no-repeat;
  filter: blur(5px);
  opacity: 0.8;
  z-index: -1;
  background-size: cover;
}

.presentation {
  position: relative;
}

#main-quote {
  width: 30vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-image: linear-gradient(to bottom, #8e36ae, #59236d);
  border-radius: 30px;
}

.manifesto {
  background-color: #4c1d5d;
}

.call-to-action {
  background-color: #310541;
  position: relative;
}

.call-to-action::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: #310541;
  z-index: -1;
}

footer {
  width: 100vw;
  height: 11vh;
  background-image: linear-gradient(to right, #477e7b, #45e4db 95%);
  border-top-right-radius: 80px;
}
